body {
  font-family: 'Lato', sans-serif;
}

#top-navigation {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #888;

  .navbar-nav li {
    a {
      color: #ccc;
      text-transform: uppercase;
      font-weight: bold;
    }

    &.active a {
      color: #fff;
      background: transparent;
    }
  }

  .navbar-header {
    .navbar-brand {
      color: #fff;
    }
  }
}

.btn-round {
  border-radius: 365px 365px 365px 365px;
  padding: 15px 20px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-shadow {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  text-shadow: 0px 0px 20px #000;
}

.trans-bg {
  background: transparent;
}

.trans-bg-white {
  background: transparent asset-url('transparent-bg-white.png');
}

.font-heading {
  font-family: 'Open Sans', sans-serif;
}

.font-subtitle {

}

.recent-stories {
  background: #fff;
}

.text-center {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  ul {
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.margin-top-10 {
  margin-top: 10px;
}